<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>68913458493-s4am180os26bltlo6nt8pnv6av4sh17s.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.68913458493-s4am180os26bltlo6nt8pnv6av4sh17s</string>
	<key>API_KEY</key>
	<string>AIzaSyDO9lF2yfws3UHUp_Dm6YhR0xG8kwZ5PCw</string>
	<key>GCM_SENDER_ID</key>
	<string>68913458493</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.amish.FB-Queries</string>
	<key>PROJECT_ID</key>
	<string>fb-queries-54078</string>
	<key>STORAGE_BUCKET</key>
	<string>fb-queries-54078.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:68913458493:ios:ef0f57a700f82b29002954</string>
</dict>
</plist>